/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.css";*/
body{
    margin-left:1%
}

.styled-table {
  border-collapse: collapse;
  margin: 20px auto;
  font-size: 16px;
  width: 60%;
  border: 2px solid black;
}

.styled-table th, .styled-table td {
  border: 1px solid black;
  padding: 8px 12px;
  text-align: left;
}

.styled-table th {
  background-color: #f2f2f2;
}